body {
  padding:0%;
  margin:0%;
}

p{
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    padding: 0px;
    margin: 0px;
    z-index: 2;
  }

.title {
  font-size: 90px;
  color:#3DA542;
}

.title2 {
  font-size: 70px;
    padding: 0px;
    margin: 0px;
    z-index: 2;
}

.flexbox {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  padding-left:3vw;
}

.flexbox div {
  margin:0vh;
  padding:0vh;
}

.star {
  position:absolute;
  width: 4%;
  z-index: 3;
}

.bubble {
  position:absolute;
  width: 62vw;
  height: 35vh;
  z-index: 1;
}

.speech {
  font-size: 25px;
  padding-left:1vw;
  z-index: 2;
  position:relative;
  padding:2px;
  background-image: url("./images/top speech bubble.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: fill;
  background-position: center;
}

.selfie {
  padding-left:2vw;
  z-index: -1;
}

.flag-container {
  width: 100vw;
  height: 8vh;
  padding:0%;
  margin:0%;
}

.flag-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}