body {
  padding:0%;
  margin:0%;
}

p{
    font-family: "Dokdo", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    padding: 0px;
    margin: 0px;
  }

.title {
  font-size: 90px;
  color:#3DA542;
}

.flexbox {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  padding-left:3vw;
}

.flexbox div {
  margin:0vh;
  padding:0vh;
}

.star {
  position:absolute;
  width: 4%;
}

.speech {
  font-size: 32px;
  padding-left:1vw;
}

.selfie {
  padding-left:2vw;
}

.flag-container {
  width: 100vw;
  height: 8vh;
  padding:0%;
  margin:0%;
}

.flag-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}